html,body{
	padding:0;
	margin: 0;
	height: 100%;
}
*{box-sizing: border-box;}

body{
	background: #333;
	color:lightgray;
	font: 1rem arial;
}

#scene3d-wrapper{
	width: 100%;
	height: 40vw;
	position: absolute;
	top:100px;left:0;		
}
#scene3d{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;left:0;
	background: #9ACDCD;	
}

#scene3d-brand-title{
	position: absolute;top:0;left:0;
	padding:20px;font:1.2rem arial;
	color:white;background: black;border:1px solid transparent;
	box-shadow: 0 0 10px rgba(255,255,255,1);
	text-transform: uppercase;white-space: nowrap;
	display: none;
}
#scene3d-btn-left{position: absolute;background: black;border-radius:50%;cursor: pointer;top:50%;left: 10px;transform: translate(0,-50%);z-index: 100;}
#scene3d-btn-right{position: absolute;background: black;border-radius:50%;cursor: pointer;top:50%;right: 10px;transform: translate(0,-50%);z-index: 100;}
#scene3d-btn-left,
#scene3d-btn-right{
	width: 50px;height: 50px;border:3px solid white;
	background: url("../img/icons-arrows.svg") no-repeat center top / 100% auto;}
#scene3d-btn-left{background-position:bottom left; }
#scene3d-btn-left:hover,
#scene3d-btn-right:hover{background-color:rgba(255,255,255,.2); }
#scene3d-btn-left:active,
#scene3d-btn-right:active{background-color:rgba(255,255,255,.5); }
#scene3d-brand-label{
		position: absolute; bottom:-1px;right:30%;border: none;
		background: url("../img/gallery-label.png") no-repeat top center/100% auto;
		width:15vw;height:auto; 
	}
#scene3d-brand-note{
	position: absolute;top:9vw;right:5vw;padding:20px 30px;font:.8rem arial;color:#277d84; 
	background: rgba(255,255,255,.8);
}
#scene3d-brand-note-close{
	position: absolute;top:0;right: 0;width: 26px;height: 26px;cursor: pointer;
	background: white;border-radius:50%; transform:translate(50%,-50%);border:1px solid white;
}
#scene3d-brand-note-close span{display:block;border-left:1px solid black;height: 60%;width: 1px;position: absolute;top:50%;left:50%;}
#scene3d-brand-note-close span:nth-child(1){transform:translate(-50%,-50%) rotate(45deg);}
#scene3d-brand-note-close span:nth-child(2){transform:translate(-50%,-50%) rotate(-45deg);}
#scene3d-brand-note-close:hover{background: black;}
#scene3d-brand-note-close:hover span{border-left:1px solid white;}
#scene3d-brand-note-close:active{transform:translate(50%,-50%) scale(.8);}

#scene3d-brand-about{
	display: block;	position: absolute;top:20px;right: 5vw;padding:1.2vw 6vw 1.2vw 2.5vw;
	color:black;background: rgba(255,255,255,.6);text-decoration: none;
	text-transform: uppercase;	cursor: pointer;font:bold 1.8vw arial;	
}
#scene3d-brand-about:after{content: "";position: absolute;
	top:0;right: .6vw;width:4vw;height:100%;transform: scale(.7);transition: .3s;
	background:url("../img/arrow-right.svg") no-repeat center right / 200% auto; 
}
#scene3d-brand-about:hover:after{background-position: center left;}
#scene3d-brand-about:hover{background: rgba(255,255,255,.9);}
#scene3d-brand-about:active{background: rgba(255,255,255,.6);}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


#scene3d-loader{
	position: absolute;top:0;left:0;width: 100%;height: 100%;
	background: rgba(0,0,0,0);z-index: 1000;
}

#scene3d-loader .scene3d-loader-icon{
	width: 100px;height: 100px;
	position: absolute;top:50%;left:50%;
	transform:translate(-50%,-50%) scale(1.5);			
	opacity: 0;transition: .6s;
}

#scene3d-loader.now-loading .scene3d-loader-icon{
		transform:translate(-50%,-50%) scale(1); opacity: 1;
}


#scene3d-loader .scene3d-loader-icon div{
	width: 100%;height: 100%;	
	animation: 1s scene3d-loader-ani linear infinite; 
}

@keyframes scene3d-loader-ani{ 100%{transform: rotateZ(359deg);}}


@media screen and (max-width: 600px) {	
	#scene3d-wrapper{ height:80%; }
	#scene3d-brand-label{width:35vw;right:10%;}
}
