html,body{
	padding:0;
	margin: 0;
	height: 100%;
}
*{box-sizing: border-box;}

body{
	background: #333333;
	color:lightgray;
	font: 1rem arial;
}

#scene3d{
	width: 1000px;
	height: 400px;
	position: absolute;
	top:45%;left:50%;
	transform: translate(-50%,-50%);
	background: #777777;
}

